@keyframes slider {
    from { width: 100%; }
    to { margin-left: 40px; }
}

.axis {
    display: flex;
    justify-content: space-between;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.images {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;

    animation-name: slider;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.blocker {
    background-color: #424242;
    width: 60px;
    height: 100%;
    min-height: 80px;
    z-index: 2;
}

.img {
    width: 30px;
    height: 49px;
    margin-top: 30px;
    z-index: 1;
    margin-left: 10px;
    position: absolute;
}